[safe]
	directory = /home/kayleigh
[user]
	name = Kayleigh Pilgrim
	email = kayleigh@kayleighpilgrim.net
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
